.body {
    display: flex;
    justify-content: center;
    justify-items: center;
    padding: 40px 0px;

    @media  screen and (max-width: 600px) {
      width: 100%;
      background-image: linear-gradient(#014F28, #0E8D45);
      padding: 0px 0px;
    }

    // overflow: hidden;
    // max-height: 100%;

  .imageHolder {
    width: 1000px;
    height: 920px;
    position: relative;
    background-image: linear-gradient(#014F28, #0E8D45);

    @media  screen and (max-width: 600px) {
      width: 380px;
      height: 420px;
      background-image: linear-gradient(#014F28, #0E8D45);
    }

    .title {
      color: white;
      position: absolute;
      z-index: 1;
      top: 20%;
      right: 10%;
      width: 30vw;

      h1 {
        text-transform: uppercase;
        font-size: 3vw;

        @media  screen and (max-width: 600px) {
          font-size: 6vw;
        }
      }

      @media  screen and (max-width: 600px) {
        font-size: 15px;
        top: 29%;
      }
    }


    .bottle {
      width: 40%;
      height: 92%;
      position: absolute;
      bottom: 0;

      img {
        width: 100%;
        height: 100%;
        object-fit: contain;
      }
    }

    .last_footer {
      position: absolute;
      bottom: 0px;
      width: 96%;
      text-align: left;
      display: flex;
      flex-direction: column;
      justify-content: flex-start;

      .first {
        background-color: white;
        font-weight: bold;
        width: 40%;
        padding: 5px 20px;
        font-size:15px;

        @media  screen and (max-width: 600px) {
          font-size: 5px;
        }
      }
  
      .second {
        background-color: rgb(7,140,75);
        background-image: linear-gradient(to right, #06663A 40%, #16AF5E , #06663A );
        color: white;
        font-weight: bold;
        width: 100%;
        padding: 5px 20px;
        font-size:15px;

        @media  screen and (max-width: 600px) {
          font-size: 5px;
        }
      }
  
      p {
        margin: 0;
      }
    };

    .image_logo {
      width: 240px;
      height: 120px;
      position: absolute;
      top: 70px;
      left: 75%;

      @media  screen and (max-width: 600px) {
        width: 140px;
        height: 70px;
        position: absolute;
        top: 30px;
        left: 65%;
      }
      
      img {
        width: 100%;
        height: 100%;
        object-fit: contain;
      }
    }
    
    .details {
      background-color: white;
      position: absolute;
      right: 10%;
      top: 50%;
      width: 520px;
      height: 240px;
      border: 5px solid red;
      border-radius: 4px;
      padding: 10px 20px ;
      text-align: left;

      @media  screen and (max-width: 600px) {
        width: 200px;
        height: 100px;
        top: 55%;
        right: 5%;
        border: 3px solid red;
      }
    }

    .text {
      h1 {
        font-weight: bolder;
        margin-top: 60px;
        color: #06663A;

        @media  screen and (max-width: 600px) {
          margin-top: 15px;
          font-size: 15px;
        }
      }

      p {
        font-size: 20px;
        line-height: 10px;
        font-weight: bold;

        
        @media  screen and (max-width: 600px) {
          font-size: 10px;
          line-height: 5px;
        }

        b {
          color: red;
          font-size: 25px;
          font-weight: bolder;

          @media  screen and (max-width: 600px) {
            font-size: 15px;
          }
        }

        .price {
          color: #06663A;
        }
      }
    }

    .no_sugar {
      width: 240px;
      height: 120px;
      position: absolute;
      bottom: 40px;
      right: -5%;

      @media  screen and (max-width: 600px) {
        width: 80px;
        height: 40px;
        right: -4%;
        bottom: 20px;
      }
      
      img {
        width: 100%;
        height: 100%;
        object-fit: contain;
      }
    }
  }
}