.body2 {
  width: 100%;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  background: #5B2D1F;
  font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
  overflow: hidden;
  padding: 20px;
  position: relative;

    @media  screen and (max-width: 600px) {
      width: 100%;
      padding: 0px 0px;
      overflow: hidden;
    }

    a { 
      display: none;
    }

    .download {
      background-color: white;
      width: 1000px;
      height: 800px;
      text-align: center;
      border-bottom-left-radius: 5px;
      border-bottom-right-radius: 5px;
      padding-bottom: 30px;
      font-family: 'Poppins', sans-serif;
      color: #012b18;

      .share_message {
        color: #012b18;
        // margin-top: 30px;

        p {
          font-size: 13px;
        }
      
        .share {
          color: red;
        }
      }

      p {
        font-size: 30px;
        padding: 15px;
        width: 80%;
        margin: auto;
      }

      .span {
        font-size: 14px;
        margin-bottom: 30px;
      }

      button {
        border: 1px solid red;
        background-color: white;
        padding: 0.5rem 2rem;
        color: red;
        display: block;
        margin: auto;
        text-transform: capitalize;
        font-size: 25px;
        width: 200px;
        margin-top: 20px;
        border-radius: 5px;
      }

      .btn2 {
        border: none;
        background-color: red;
        color: white;
      }

      .socials {
        display: flex;
        width: 300px;
        margin: auto;
      }

      @media  screen and (max-width: 600px) {
        width: 360px;
        height: 300px;
        background-color: white;
      }
    }

  .overlay {
    width: 360px;
    height: 420px;
    position: fixed;
    z-index: 1;
    display: none;
    background-image: url("../../Assets/Niger\ Bridge\ 3.png");
  }

  .imageHolder {
    width: 1000px;
    height: 920px;
    border-top-left-radius: 5px;
    border-top-right-radius: 5px;
    position: relative;
    background-color: white;
    overflow: hidden;

    
    @media  screen and (max-width: 600px) {
      width: 360px;
      height: 420px;
      background-color: white;
    }

    .forHeroes {
      width: 360px;
      position: absolute;
      font-weight: bold;
      left: 30px;
      top: 85px;
      font-size: 25px;
      text-align: left;
      display: flex;
      flex-direction: row;
      flex-wrap: nowrap;
      align-items: center;

      // .heroes {
     
      // }

      span {
        font-weight: bold;
      }


      .heroes {
        color: #D60200;
        margin-left: 7px;
      }
    }
    
    img {
      height: 100%;
      width: 100%;
      object-fit: contain;
    }

    .title {
      color: green;
      position: relative;
      background-color: white;
      background-image: linear-gradient(90deg, #EB4221 10.54%, #F5B517 80.57%);
      line-height: 25px;
      padding: 8px 15px 8px 15px;
      z-index: 1;
      top: 0%;
      width: 91.7%;
      height: 60px;
      overflow: hidden;
      display: flex;
      flex-direction: row;
      align-items: center;
      

      h1 {
        text-transform: uppercase;
        margin: 0;
        font-size: 3vw;
        color: black;
        font-weight: 800px;
        text-align: center;

        @media  screen and (max-width: 600px) {
          font-size: 6vw;
        }
      }

      @media  screen and (max-width: 600px) {
        font-size: 15px;
        top: 0;
      }
    }

    .heros {
      font-weight: bolder;
      background-color: #386C34;
      color: white;
      padding: 0.3rem 0.2rem;
      width: 55%;
      position: absolute;
      bottom: 30px;
      right: 38%;
      font-size: 15px;

      b {
        color: #FFBC0D;
      }
    }


    .bottle {
      width: 45%;
      height: 100%;
      position: absolute;
      right: 0px;
      bottom: -58px;

      img {
        width: 100%;
        height: 100%;
        object-fit: contain;
      }
    }



    .last_footer {
      position: absolute;
      bottom: 0px;
      width: 96%;
      text-align: left;
      display: flex;
      flex-direction: column;
      justify-content: flex-start;
  
      .second {
        background-color: white;
        color: #386C34;
        text-align: center;
        width: 91%;
        padding: 5px 20px;
        font-size:15px;

        @media  screen and (max-width: 600px) {
          font-size: 10px;
        }
      }
  
      p {
        margin: 0;
      }
    };

    .img_peeps {
      width: 265px;
      height: 200px;
      position: absolute;
      top: 50%;
      left: -30px;
      // right: 30%;

      img {
        width: 100%;
        height: 100%;
        object-fit: contain;
      }
    }

    .image_logo {
      width: 200px;
      height: 100px;
      // position: absolute;
      // top: 70px;
      // right: 75%;

      @media  screen and (max-width: 600px) {
        width: 100px;
        height: 50px;
        // position: absolute;
        // top: 20px;
        // right: 65%;
      }
      
      img {
        width: 100%;
        height: 100%;
        object-fit: contain;
      }
    }
    
    .details {
      position: absolute;
      right: 10%;
      top: 20%;

      @media  screen and (max-width: 600px) {
        width: 180px;
        height: 150px;
        top: 20%;
        left: 4%;
      }

      img {
        height: 100%;
        width: 100%;
        object-fit: contain;
      }
    }

    

    .no_sugar {
      width: 240px;
      height: 120px;
      position: absolute;
      bottom: 40px;
      right: -5%;

      @media  screen and (max-width: 600px) {
        width: 80px;
        height: 40px;
        right: -4%;
        bottom: 20px;
      }
      
      img {
        width: 100%;
        height: 100%;
        object-fit: contain;
      }
    }
  }
}